<% layout ||= rails_info_stylesheet %>
<!DOCTYPE html>
<html>
<head>
  <title>Rails Info</title>
  <meta charset='utf-8'>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <%= stylesheet_link_tag layout, media: 'all' %>
  <%= yield :styles %>
  <%= javascript_include_tag 'rails_info/application' %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'rails_info/shared/navigation' %>
  <section id="dialog">
    <%= image_tag 'rails_info/spinner.gif', class: 'hide', id: 'dialog_body_spinner' %>
    <div id="dialog_body"/>
  </section>
  <div class='container-fluid'>
    <div class="row-fluid">
      <div class="span12">  
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>