<%= form_tag update_multiple_rails_info_data_path, method: :post do %>
  <%= @rails_info_data.actions %>
  <%= @rails_info_data.last_objects do |row_set_presenter| %>
    <h3><%= row_set_presenter.name %></h3>
    <div style="max-height:150px; width:100%; overflow: auto">
      <table class="table table-striped">
        <thead>
          <tr class="<%= cycle("odd", "even") %>">
            <%= row_set_presenter.head %>
          </tr>
        </thead>
        <tbody>
    <% row_set_presenter.objects.each do |object_presenter| %>
      <tr class="<%= cycle("odd", "even") %>">
        <%= object_presenter.row %>
      </tr>
    <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= @rails_info_data.actions %>
<% end %>