<% if ['new', 'create'].include?(action_name) %>
  <%= form_tag rails_info_stack_trace_path, method: :post do %>
    <% rails_root = params[:stack_trace] && params[:stack_trace][:rails_root].present? ? params[:stack_trace][:rails_root] : Rails.root.to_s %>
    <% body = params[:stack_trace] && params[:stack_trace][:body].present? ? params[:stack_trace][:body] : '' %>
    <% show_all = params[:stack_trace] && params[:stack_trace][:show_all].present? ? params[:stack_trace][:show_all] : false %>
    <p><%= label_tag 'stack_trace[rails_root]', 'Rails Root:' %> <%= text_field_tag 'stack_trace[rails_root]', rails_root, size: 50 %>
    <p><%= check_box_tag 'stack_trace[show_all]', 1, show_all %>
    <p><%= text_area_tag 'stack_trace[body]', body, cols: 100, rows: 5 %>
    <p><%= submit_tag %></p>
  <% end %>
<% end %>