<% form_tag rails_info_server_log_path do %>
  <%= check_box_tag 'debug' %> debug? 
  <p>
    <%= text_field_tag 'log[rails_root]', (params['log']['rails_root'] rescue "#{Rails.root}/log/") %>
  </p>
  <p>
    <%= text_area_tag 'log[body]', (params['log']['body'] rescue nil) %>
  </p>
  <p>
    <%= submit_tag 'submit' %>
  </p>
<% end %>
<ul class="nav nav-tabs nav-stacked">
  <li><a name="top" href="#">1 ) Actions</a></li>
  <li><a href="#writes">2 ) Writes</a></li>
</ul>
<hr/>
<h3><a href="#top">1 ) Actions</a></h3>
<hr/>
<%= raw @rails_info_log.accordion %>
<hr/>
<h3><a name="writes" href="#top">2 ) Writes</a></h3>
<hr/>
<%= raw @rails_info_log.write_tabs %>